
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyAccount</title>
</head>
<body>
    <div> 
        Sup world
    </div>
    <div>
        
        <p><a class="btn btn-default" href="">Do Sum'n &raquo;</a></p>
        <p><a class="btn btn-default" href="">Do Sum else &raquo;</a></p>
    </div>
</body>
</html>
