@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Loot Crate</h1>
    <p class="lead">Your favorite Superhero toys and more at your door.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><img src="~/Superman.png" width="180" height="200" align="middle"/></h2>
        <p>
            Loot Crate is a monthly crate for gamers, geeks and fans of superhero culture, delivering cool items like collectibles, t‑shirts, gizmos and super do-hickies.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/Saitama.jpg" width="300" height="200"/></h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>